body {
  background: #ddd;
  font-family: Meiryo, 'メイリオ', Hiragino Kaku Gothic Pro, 'ヒラギノ角ゴ Pro W3', sans-serif;
}

input {
  margin: 0
}

.explain {
  width: 720px;
}

.search-row {
  padding: 2px 0;
  width: 640px;
  line-height: 24px;
}

.search-label {
  text-align: right;
  width: 100px;
  float: left;
}

#word {
  width: 70%;
}

#search-result-area {
  margin-left: 32px;
}

#search-result {
  height: 500px;
  overflow-y: auto;
  padding-left: 4px;
}

#search-result li {
  clear: both;
  float: left;
  list-style-type: none;
  margin: 2px;
  padding-left: 0;
  text-decoration: none;
}

div.link-block {
  float: left;
  margin-right: 10px;
  text-weight: bold;
}

div.tag {
  background: #ccffff;
  border-radius: 8px;
  float: left;
  margin-left: 5px;
  padding: 3px;
  font-size: 75%;
}

.clear {
  clear: both;
}

